<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Home</title>
</head>

<span ng-show="!currentUser">

  <div class="container">
  <h1>Home</h1>
  <hr>

Welcome to ProfileSystem <br/>
Please Sign in or Register to Start Using ..<br/>
<br/>
Nisal Perera - CSC309 Assignment 3


</span>
